* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  max-width: 120rem;
  background-color: #ecf0fc;
}
/*--------------- Text Styling ---------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", monospace;
  color: #66960e;
}

p,
a {
  font-family: "Poppins", sans-serif;
  color: #181c3b;
  text-decoration: none;
}

a:hover {
  color: #96dc14;
}
/*--------------- Button Styling ---------------*/
.btn-primary {
  background-color: black;
  color: whitesmoke;
  border: none;
}
.btn-primary:hover {
  background-color: whitesmoke;
  color: black;
  border-color: black;
}

.btn-transparent {
  color: #e5e5e5;
  background-color: transparent;
}
.btn-transparent:hover {
  color: #fff;
  background-color: transparent;
}

.recipeButton {
  background-color: #657e13;
  color: #e5e5e5;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-width: 1px;
  border-radius: 0.375rem;
  border-color: transparent;
}
.recipeButton:hover {
  background: linear-gradient(15deg, #556e03, #7e9e13);
  color: #fff;
}
.recipeButton:active {
  background: linear-gradient(195deg, #556e03, #7e9e13);
  color: #fff;
}

/*--------------- DARK MODE Switch ---------------*/
html.dark-mode {
  filter: invert(100%);
}

html.dark-mode img {
  filter: invert(100%);
}

/*--------------- Main Wrapper ---------------*/

.main-wrapper {
  display: flex;
  justify-content: space-between;
}

/*--------------- Sidebar: Navigation ---------------*/

.column1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
nav ul {
  display: flex;
  justify-content: flex-start;
}
.category-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  padding-bottom: 3em;
}
li {
  display: flex;
  justify-content: space-between;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.5em;
}

nav a {
  display: flex;
  margin-right: 2vw;
  min-height: 3em;
  align-items: center;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

/*--------------- Rezeptkarten Grid ---------------*/
.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}

.card {
  margin-bottom: 5rem;
}
.card:hover {
  border-color: #617a0f;
  box-shadow: -4px 4px 6px 0 #164600;
}
.card-footer {
  background-color: #657e13;
  z-index: 1;
}
.card-footer:hover {
  background: linear-gradient(15deg, #556e03, #7e9e13);
}
.logo-container {
  float: right;
}
.img-wrapper {
  height: 15rem;
}
.img-wrapper img {
  height: 100%;
  object-fit: cover;
}
/*--------------- Rezept Webseite: Navigation ---------------*/
.rezept-nav {
  border: 1px solid black;
  display: flex;
}

.rezept-navbar {
  display: flex;
  border: 1px solid black;
  height: 1000px;
  width: 10%;
}
/*--------------- Rezept Webseite: Header ---------------*/
.rezept-header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
}
.text-center {
  text-align: center;
}

.rezept-header img {
  border: 1px solid black;
}

.rezept-overview {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin-bottom: 2rem;
}

/*--------------- Rezept Webseite: Content ---------------*/
.rezept-img {
  width: 45%;
  border: 1px solid black;
  border-radius: 5px;
}

.rezept-name {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  width: 45%;
  border-radius: 5px;
  padding: 1rem 0;
}

.rezept-ingredients {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  padding: 0.6rem 0;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.rating-facts {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 4rem 0;
}

.rezept-utensils {
  border: 1px solid black;
  width: 25%;
  text-align: center;
  border-radius: 5px;
  padding: 1rem 0;
}
.rezept-bowl {
  width: 50px;
  height: 50px;
}

.rezept-pan {
  width: 10px;
  height: 10px;
}

.rezept-clock {
  width: 50px;
  height: 50px;
}

.rezept-calories {
  width: 50px;
  height: 50px;
}

.rezept-utensils li {
  text-align: center;
}

.rezept-facts {
  border: 1px solid black;
  width: 25%;
  border-radius: 5px;
  padding: 1rem 0;
}

.rezept-facts li {
  text-align: center;
}

.rezept-rating {
  border: 1px solid black;
  width: 25%;
  border-radius: 5px;
  padding: 1rem 0;
  align-items: center;
  justify-content: flex-end;
}

.duck-icons {
  display: flex;
  justify-content: center;
  text-align: center;
}
.duck-icon {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
}

/*---------------- Kochschritte -----------------------*/

.rezept-steps-section {
  border: 1px solid black;
  margin: 2rem 0;
}

.rezept-steps-section h1 {
  text-decoration: wavy underline;
  text-align: center;
}

.rezept-steps {
  border: 1px solid black;
  margin: 1rem 0;
  padding: 1rem;
}
.rezept-steps h2 {
  text-align: center;
  text-decoration: wavy underline;
}

.rezept-footer {
  border: 1px solid black;
}

/*--------------- Rezept Modal Popup ---------------*/
.modal-body {
  padding: 0 1rem;
}

.modal-header {
  border-bottom: none;
  padding: 0;
  position: relative;
}
.closeModalBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.modalContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}

.modalImage {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.5rem;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}
.modalImage img {
  width: 100%;
  height: auto;
}

.modalTitle {
  display: flex;
  justify-content: space-between;
}

.modalRating {
  margin-bottom: 0;
}
.modalRating .checked {
  color: orange;
}
.modalRating .unchecked {
  color: lightgrey;
}

.modalTags {
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}
.modalTags .recipeTag {
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  padding: 0 0.3rem;
  background-color: #333;
  color: white;
}

.modalIngredients {
  margin-bottom: 1rem;
}
.modalIngredients hr {
  margin-top: 0;
}
.modalIngredients .ingredientItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem 0.3rem 0.5rem;
}

.ingredientItem input {
  height: 1.25rem;
  width: 1.25rem;
}
.ingredientItem:nth-child(odd) {
  background-color: #e5e5e5;
}
