* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background-color: #ecf0fc;
}
/*--------------- Text Styling ---------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", monospace;
  color: #66960e;
}
h3 {
  font-size: calc(1.25rem + 0.3vw);
}
h5 {
  font-weight: 500;
  text-shadow: 0px 1px #164600;
}

p,
a {
  font-family: "Poppins", sans-serif;
  color: #181c3b;
  text-decoration: none;
}

a:hover {
  color: #96dc14;
}
/*--------------- Button Styling ---------------*/
.btn-primary {
  background-color: black;
  color: whitesmoke;
  border: none;
}
.btn-primary:hover {
  background-color: whitesmoke;
  color: black;
  border-color: black;
}

.btn-transparent {
  color: #e5e5e5;
  background-color: transparent;
}
.btn-transparent:hover {
  color: #fff;
  background-color: transparent;
}

.recipeButton {
  background-color: #657e13;
  color: #e5e5e5;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-width: 1px;
  border-radius: 0.375rem;
  border-color: transparent;
}
.recipeButton:hover {
  background: linear-gradient(15deg, #556e03, #7e9e13);
  color: #fff;
}
.recipeButton:active {
  background: linear-gradient(195deg, #556e03, #7e9e13);
  color: #fff;
}

/*--------------- Header ---------------*/
header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding-top: 2rem;
}
.hero {
  background-image: url("img/pasta.jpg");
  height: 50vh;
  background-size: cover;
  background-position: bottom 40% right 0;
  background-repeat: no-repeat;
  background-attachment: local;
  text-align: center;
  margin-bottom: 4rem;
}
.hero div {
  background: linear-gradient(
    90deg,
    transparent 50%,
    #657e13aa 70%,
    #657e13ee 90%
  );
  width: 100%;
  height: 100%;
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-right: 2rem;
  font-weight: 500;
}
.hero span {
  text-align: right;
}

.hero h1 {
  color: #e5e5e5;
}

/*--------------- Main Wrapper ---------------*/
.main {
  margin-bottom: 4rem;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  margin-left: 1rem;
}

/*--------------- Sidebar: Navigation ---------------*/

.column1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
}
.navbar-expand-md .navbar-nav {
  flex-direction: column;
}

nav li {
  display: flex;
  justify-content: space-between;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.5em;
  margin-right: 0.5rem;
}

nav a {
  display: flex;
  min-height: 3em;
  align-items: center;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

/*--------------- Rezeptkarten Grid ---------------*/
.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}

.card {
  margin-bottom: 5rem;
  transition-duration: 0.2s
}
.card:hover {
  border-color: #617a0f;
  box-shadow: -4px 4px 6px 0 #164600;
  transform: translate(5px, -5px);
}
.card-footer {
  background-color: #657e13;
  z-index: 1;
}
.card-footer:hover {
  background: linear-gradient(15deg, #556e03, #7e9e13);
}
.img-wrapper {
  height: 15rem;
}
.img-wrapper img {
  height: 100%;
  object-fit: cover;
}
/*--------------- Rezept Webseite: Navigation --------------------*/
.rezept-nav {
  
  display: flex;
}

.rezept-navbar {
  display: flex;
  
  height: 1000px;
  width: 10%;
}
/*--------------- Rezept Webseite: Header ---------------*/
.rezept-header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
}
.text-center {
  text-align: center;
}


#RezeptDerWochePastaMitMaisUndHack {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rezept-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

/*--------------- Rezept Webseite: Content ---------------*/
.rezept-img {
  width: 50%;
  border-radius: 5px;
}

.rezept-name {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  padding: 1rem 0;
}

.rezept-ingredients {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  padding: 0.6rem 0;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.rating-facts {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 4rem 0;
}

.rezept-utensils {
  width: 25%;
  text-align: center;
  border-radius: 5px;
  padding: 1rem 0;
}
.rezept-bowl {
  width: 50px;
  height: 50px;
}

.rezept-pan {
  width: 10px;
  height: 10px;
}

.rezept-clock {
  width: 50px;
  height: 50px;
}

.rezept-calories {
  width: 50px;
  height: 50px;
}

.rezept-utensils li {
  text-align: center;
}

.rezept-facts {
  width: 25%;
  border-radius: 5px;
  padding: 1rem 0;
}

.rezept-facts li {
  text-align: center;
}

.rezept-rating {
  width: 25%;
  border-radius: 5px;
  padding: 1rem 0;
  align-items: center;
  justify-content: flex-end;
}

.duck-icons {
  display: flex;
  justify-content: center;
  text-align: center;
}
.duck-icon {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
}

/*---------------- Kochschritte -----------------------*/

.rezept-steps-section {
  margin: 2rem 0;
}

.rezept-steps-section h1 {
  text-decoration: wavy underline;
  text-align: center;
}

.rezept-steps {
  border: 1px solid black;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}
.rezept-steps h2 {
  text-align: center;
  text-decoration: wavy underline;
}

.rezept-footer {
  border: 1px solid black;
}

/*--------------- Footer ---------------*/
footer {
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
  background-color: #000C1A;
  box-shadow: 0 -1rem 1rem 2rem #000C1A;
  padding: 0 2rem 2rem 2rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
footer a{
  color: #ecf0fc;
}

footer .legal {
  display: flex;
  flex-direction: column;
}

footer .contribute {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer .socialLinks {
  display: flex;
  flex-direction: column;
}
footer .socialContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

/*--------------- Rezept Modal Popup ---------------*/
.modal-body {
  padding: 0 1rem;
}

.modal-header {
  border-bottom: none;
  padding: 0;
  position: relative;
}
.closeModalBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.modalContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}

.modalImage {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.5rem;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}
.modalImage img {
  width: 100%;
  height: auto;
}

.modalTitle {
  display: flex;
  justify-content: space-between;
}

.modalRating {
  margin-bottom: 0;
}
.modalRating .checked {
  color: orange;
}
.modalRating .unchecked {
  color: lightgrey;
}

.modalTags {
  display: flex;
  margin-bottom: 0.8rem;
  font-size: 0.85rem;
}
.modalTags .recipeTag {
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  padding: 0 0.3rem;
  background-color: #333;
  color: white;
}

.modalIngredients {
  margin-bottom: 1rem;
}
.modalIngredients hr {
  margin-top: 0;
}
.modalIngredients .ingredientItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem 0.3rem 0.5rem;
}

.ingredientItem input {
  height: 1.25rem;
  width: 1.25rem;
}
.ingredientItem:nth-child(odd) {
  background-color: #e5e5e5;
}

/*--------------- Media Breakpoints ---------------*/
@media only screen and (min-width: 1200px) {
  .modal {
    --bs-modal-width: 700px;
  }
}
@media only screen /*and (min-width: 831px)*/ and (max-width: 1250px) {
  .hero div {
    background: linear-gradient( 90deg, transparent 30%, #657e13aa 70%, #657e13ee 90% );
  }

  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 830px) {
  .hero div{
    background: linear-gradient( 90deg, transparent 15%, #657e13aa 50%, #657e13ee 70% );
  }

  .main-wrapper {
    flex-direction: column;
  }

  /* .category-box {
    flex-direction: row;
    padding-bottom: 0;
    column-gap: 1rem;
    align-items: center;
  } */

  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }
  /* nav ul {
    flex-direction: row;
  } */

  .main-content {
    margin: 0 2rem;
  }

  .cardContainer {
    margin: 0 auto;
    column-gap: 5vw;
  }
}

@media only screen and (max-width: 660px) {
  .hero div{
    background: linear-gradient( 90deg, transparent 15%, #657e13aa 30%, #657e13ee 70% );
    padding-right: 1rem;
  }

  .cardContainer {
    grid-template-columns: 1fr;
  }

  footer {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
  .legal, .contribute {
    text-align: center;
  }
  footer .recipeButton {
    margin: 0.7rem 0;
  }

  .modalTitle {
    display: block;
    margin-bottom: 0.5rem;
  }

  /*---------- Modified Recipe page ---------------*/
  .rating-facts {
    flex-direction: column;
  }
  .rezept-utensils ul, .rezept-facts ul{
    display: flex;
    column-gap: 1rem;
  }
  .rezept-img {
  width: 100%;
  border-radius: 5px;
  }
}
